.link-card {
  background-color: var(--white);
  border-radius: 5px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.link-card div {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1rem;
  width: 100%;
}

.long-link {
  border-bottom: 1px solid var(--Gray);
  padding: 0.55rem 1rem;
  color: var(--VeryDarkViolet);
}

.short-link {
  color: var(--Cyan);
  font-weight: bold;
  padding: 0 0 0.5rem 0;
}

.link-card span {
  font-size: 1rem;
  word-break: break-all;
  text-align: left;
}

.btn-copy {
  width: 100%;
  font-weight: bold;
  border-radius: 5px;
}

.invalid-url {
  position: absolute;
  color: var(--Red);
  font-size: 1rem;
  z-index: 3;
  left: 2rem;
  bottom: 0.35rem;
}

.copied {
  background-color: var(--DarkViolet) !important;
}

@media screen and (min-width: 764px) {
  .link-card {
    background-color: var(--white);
    border-radius: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem;
  }

  .link-card div {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 25%;
  }

  .long-link {
    border-bottom: none;
    width: 65%;
    padding: 0;
    color: var(--VeryDarkViolet);
  }

  .btn-copy {
    width: 30%;
    font-weight: bold;
    border-radius: 5px;
    height: 2rem;
  }

  .short-link {
    padding: 0;
  }
}
