
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Cyan: hsl(180, 66%, 49%);
    --DarkViolet: hsl(257, 27%, 26%);
    --Red: hsl(0, 87%, 67%);
    --Gray: hsl(0, 0%, 75%);
    --moreGray: hsl(0, 0%, 92%);
    --GrayishViolet: hsl(257, 7%, 63%);
    --VeryDarkBlue: hsl(255, 11%, 22%);
    --VeryDarkViolet: hsl(260, 8%, 14%);
    --FontSize: 1.125rem;
    --white: #fff;
    --poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--poppins);
  font-size: var(--FontSize); 
}

.main-container {
  padding: 5rem 6%;
  background-color: var(--moreGray);
  margin-top: 8rem;
  position: relative;
  width: 100%;
  text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6%  0.5rem;
}

.menu-container {
  display: none;
}

.logo {
    width: 6.25rem;
}

.logo-link {
  padding-top: 0.6rem;
}

.hamburger {
    width: 25px;
    display: block;
    transition: all 1s;
}

.hamburger-btn {
    border: none;
    padding: 0.09rem;
    background-color: white;
}

.btn {   
    height: 2.5rem;
    width: 6rem;
    border-radius: 2rem;
    background-color: var(--Cyan);
    border: none;
    font-family: var(--poppins);
    color: var(--white);
}



@media screen and (min-width: 375px) {  
  .main-container {
    padding: 0 9%;    
  } 

  .menu-container  a {  
    margin-right: 2rem;
    text-decoration: none;
    font-family: var(--poppins);
    color: var(--GrayishViolet);
    font-weight: 500;
  }

  .login-btn {
    background-color: var(--white);
    color: var(--GrayishViolet);
    font-weight: bold;
  }
}

@media screen and (min-width: 764px) {  
  .hamburger {
    display: none;
  }
  
  .navbar {
    padding: 1.5rem 9% .5rem;
  }  

  .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 2.5rem;  
  }
}






